body {
    background: black;
  }
  
  h1 {
    color: white;
  }
  
  .diologe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
  }
  
  .diologe h1 {
    text-align: center;
  }
  
  a {
    color: inherit;
  }
  
  .choices .choice1 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -44%);
    cursor: pointer;
  }
  
  .choices .choice1 h1{
    color: gray;
    font-size: 25px;
  }
  
  .choices .choice1 h1:hover{
    color: white;
  }
  