body {
    background: black;
}

h1 {
    color: white;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-75%, -50%);
    cursor: pointer;
}

.back h1 {
    color: gray;
    font-size: 25px;
}

.back h1:hover {
    color: white;
}