body {
    background:black;
}

h1 {
     color: white;
}

.diologe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

a {
    color: inherit;
}